In [ ]:
pip install --upgrade astrapy

Collecting astrapy
  Downloading astrapy-1.5.2-py3-none-any.whl.metadata (19 kB)
Collecting deprecation<2.2.0,>=2.1.0 (from astrapy)
  Downloading deprecation-2.1.0-py2.py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: httpx<1,>=0.25.2 in /usr/local/lib/python3.10/dist-packages (from httpx[http2]<1,>=0.25.2->astrapy) (0.27.2)
Collecting pymongo>=3 (from astrapy)
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Requirement already satisfied: toml<0.11.0,>=0.10.2 in /usr/local/lib/python3.10/dist-packages (from astrapy) (0.10.2)
Collecting uuid6>=2024.1.12 (from astrapy)
  Downloading uuid6-2024.7.10-py3-none-any.whl.metadata (8.6 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from deprecation<2.2.0,>=2.1.0->astrapy) (24.2)
Requirement already satisfied: anyio in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.25.2->httpx[http2]<1,>=0.25.2->astrapy) (3.7.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.25.2->httpx[http2]<1,>=0.25.2->astrapy) (2024.8.30)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.25.2->httpx[http2]<1,>=0.25.2->astrapy) (1.0.7)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.25.2->httpx[http2]<1,>=0.25.2->astrapy) (3.10)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.25.2->httpx[http2]<1,>=0.25.2->astrapy) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx<1,>=0.25.2->httpx[http2]<1,>=0.25.2->astrapy) (0.14.0)
Collecting h2<5,>=3 (from httpx[http2]<1,>=0.25.2->astrapy)
  Downloading h2-4.1.0-py3-none-any.whl.metadata (3.6 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo>=3->astrapy)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Collecting hyperframe<7,>=6.0 (from h2<5,>=3->httpx[http2]<1,>=0.25.2->astrapy)
  Downloading hyperframe-6.0.1-py3-none-any.whl.metadata (2.7 kB)
Collecting hpack<5,>=4.0 (from h2<5,>=3->httpx[http2]<1,>=0.25.2->astrapy)
  Downloading hpack-4.0.0-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio->httpx<1,>=0.25.2->httpx[http2]<1,>=0.25.2->astrapy) (1.2.2)
Downloading astrapy-1.5.2-py3-none-any.whl (177 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 177.1/177.1 kB 4.6 MB/s eta 0:00:00
Downloading deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 29.1 MB/s eta 0:00:00
Downloading uuid6-2024.7.10-py3-none-any.whl (6.4 kB)
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 18.2 MB/s eta 0:00:00
Downloading h2-4.1.0-py3-none-any.whl (57 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.5/57.5 kB 3.3 MB/s eta 0:00:00
Downloading hpack-4.0.0-py3-none-any.whl (32 kB)
Downloading hyperframe-6.0.1-py3-none-any.whl (12 kB)
Installing collected packages: uuid6, hyperframe, hpack, dnspython, deprecation, pymongo, h2, astrapy
Successfully installed astrapy-1.5.2 deprecation-2.1.0 dnspython-2.7.0 h2-4.1.0 hpack-4.0.0 hyperframe-6.0.1 pymongo-4.10.1 uuid6-2024.7.10

In [ ]:
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.29.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.2 kB)
Collecting geomet<0.3,>=0.1 (from cassandra-driver)
  Downloading geomet-0.2.1.post1-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.7)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.16.0)
Downloading cassandra_driver-3.29.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 30.9 MB/s eta 0:00:00
Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.29.2 geomet-0.2.1.post1

In [ ]:
import json
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

# Load credentials from JSON file
with open("BDTAssignment-token.json") as f:
    secrets = json.load(f)

CLIENT_ID = secrets["clientId"]
CLIENT_SECRET = secrets["secret"]

# Connect to Cassandra
auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
cloud_config = {"secure_connect_bundle": "secure-connect-bdtassignment.zip"}
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

# Set keyspace
session.set_keyspace('example')

# Confirm connection
if session:
    print("Connected!")
else:
    print("Connection failed.")

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for 5fb0d364-fc1c-4d10-80e2-e694f8e99d2c-eu-west-1.db.astra.datastax.com:29042:00694036-11ec-39fb-8238-d79afd9b0e46. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for 5fb0d364-fc1c-4d10-80e2-e694f8e99d2c-eu-west-1.db.astra.datastax.com:29042:00694036-11ec-39fb-8238-d79afd9b0e46. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 5 to 4 for 5fb0d364-fc1c-4d10-80e2-e694f8e99d2c-eu-west-1.db.astra.datastax.com:29042:00694036-11ec-39fb-8238-d79afd9b0e46. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

Connected!

Bronze level table

In [ ]:
session.execute("""
CREATE TABLE IF NOT EXISTS bronze_sales (
    region TEXT,
    country TEXT,
    item_type TEXT,
    sales_channel TEXT,
    order_priority TEXT,
    order_date TEXT,
    order_id TEXT PRIMARY KEY,
    ship_date TEXT,
    units_sold INT,
    unit_price FLOAT,
    unit_cost FLOAT,
    total_revenue FLOAT,
    total_cost FLOAT,
    total_profit FLOAT
)
""")

silver level table

In [ ]:
session.execute("""
CREATE TABLE IF NOT EXISTS silver_sales (
    region TEXT,
    country TEXT,
    item_type TEXT,
    sales_channel TEXT,
    order_date TEXT,
    order_id TEXT PRIMARY KEY,
    units_sold INT,
    total_profit FLOAT
)
""")

# golden level table

Profit by Region:

In [ ]:
session.execute("""
CREATE TABLE IF NOT EXISTS gold_profit_by_region (
    region TEXT PRIMARY KEY,
    total_profit FLOAT
)
""")

Units Sold by Item Type:

In [ ]:
session.execute("""
CREATE TABLE IF NOT EXISTS gold_units_by_item (
    item_type TEXT PRIMARY KEY,
    total_units_sold INT
)
""")

Profit by Region and Item Type:

In [ ]:
session.execute("""
CREATE TABLE IF NOT EXISTS gold_profit_by_region_item (
    region TEXT,
    item_type TEXT,
    total_profit FLOAT,
    PRIMARY KEY (region, item_type)
)
""")

#load data

bronze

In [ ]:
import pandas as pd

# Load the CSV data
csv_url = "https://raw.githubusercontent.com/gchandra10/filestorage/main/sales_100.csv"
sales_data = pd.read_csv(csv_url)

# Insert rows into the Bronze table
for _, row in sales_data.iterrows():
    session.execute("""
    INSERT INTO bronze_sales (
        region, country, item_type, sales_channel, order_priority,
        order_date, order_id, ship_date, units_sold, unit_price,
        unit_cost, total_revenue, total_cost, total_profit
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row['Region'], row['Country'], row['Item Type'], row['Sales Channel'], row['Order Priority'],
        row['Order Date'], str(row['Order ID']), row['Ship Date'], int(row['UnitsSold']),
        float(row['UnitPrice']), float(row['UnitCost']), float(row['TotalRevenue']),
        float(row['TotalCost']), float(row['TotalProfit'])
    ))

silver table

In [ ]:
# Select relevant columns for Silver Table
silver_data = sales_data[['Region', 'Country', 'Item Type', 'Sales Channel',
                          'Order Date', 'Order ID', 'UnitsSold', 'TotalProfit']]

# Insert rows into the Silver table
for _, row in silver_data.iterrows():
    session.execute("""
    INSERT INTO silver_sales (
        region, country, item_type, sales_channel,
        order_date, order_id, units_sold, total_profit
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        row['Region'], row['Country'], row['Item Type'], row['Sales Channel'],
        row['Order Date'], str(row['Order ID']), int(row['UnitsSold']), float(row['TotalProfit'])
    ))

#gold table

table 1

In [ ]:
profit_by_region = sales_data.groupby('Region')['TotalProfit'].sum().reset_index()

for _, row in profit_by_region.iterrows():
    session.execute("""
    INSERT INTO gold_profit_by_region (
        region, total_profit
    ) VALUES (%s, %s)
    """, (row['Region'], float(row['TotalProfit'])))

table 2

In [ ]:
units_by_item = sales_data.groupby('Item Type')['UnitsSold'].sum().reset_index()

for _, row in units_by_item.iterrows():
    session.execute("""
    INSERT INTO gold_units_by_item (
        item_type, total_units_sold
    ) VALUES (%s, %s)
    """, (row['Item Type'], int(row['UnitsSold'])))

table 3

In [ ]:
profit_by_region_item = sales_data.groupby(['Region', 'Item Type']).agg({
    'TotalProfit': 'sum'
}).reset_index()

for _, row in profit_by_region_item.iterrows():
    session.execute("""
    INSERT INTO gold_profit_by_region_item (
        region, item_type, total_profit
    ) VALUES (%s, %s, %s)
    """, (row['Region'], row['Item Type'], float(row['TotalProfit'])))

#verify

bronze table

In [ ]:
rows = session.execute("SELECT * FROM bronze_sales")
for row in rows:
    print(row)

Row(order_id='940980136', country='New Zealand', item_type='Beverages', order_date='10/11/2012', order_priority='M', region='Australia and Oceania', sales_channel='Online', ship_date='11/4/2012', total_cost=184000.515625, total_profit=90640.078125, total_revenue=274640.59375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=5788)
Row(order_id='363086831', country='Mali', item_type='Household', order_date='8/19/2010', order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='9/7/2010', total_cost=2169465.25, total_profit=715456.4375, total_revenue=2884921.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=4317)
Row(order_id='176461303', country='Singapore', item_type='Snacks', order_date='1/28/2013', order_priority='C', region='Asia', sales_channel='Online', ship_date='2/7/2013', total_cost=747949.4375, total_profit=423254.625, total_revenue=1171204.125, unit_cost=97.44000244140625, unit_price=152.5800018310547, units_sold=7676)
Row(order_id='438011872', country='Dominica', item_type='Beverages', order_date='6/12/2012', order_priority='L', region='Central America and the Caribbean', sales_channel='Online', ship_date='7/18/2012', total_cost=200308.796875, total_profit=98673.65625, total_revenue=298982.4375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=6301)
Row(order_id='135178029', country='United Kingdom', item_type='Cosmetics', order_date='5/1/2015', order_priority='L', region='Europe', sales_channel='Online', ship_date='5/16/2015', total_cost=273336.53125, total_profit=180477.0625, total_revenue=453813.59375, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=1038)
Row(order_id='488121116', country='The Bahamas', item_type='Fruits', order_date='6/18/2010', order_priority='L', region='Central America and the Caribbean', sales_channel='Offline', ship_date='6/30/2010', total_cost=32800.80078125, total_profit=11423.400390625, total_revenue=44224.19921875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=4740)
Row(order_id='845056617', country='Netherlands', item_type='Fruits', order_date='11/19/2016', order_priority='L', region='Europe', sales_channel='Online', ship_date='11/30/2016', total_cost=68418.0390625, total_profit=23827.669921875, total_revenue=92245.7109375, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=9887)
Row(order_id='667593514', country='Morocco', item_type='Clothes', order_date='9/14/2013', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='10/19/2013', total_cost=165258.234375, total_profit=338631.84375, total_revenue=503890.09375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=4611)
Row(order_id='425793445', country='Seychelles ', item_type='Beverages', order_date='1/18/2013', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='2/16/2013', total_cost=18978.630859375, total_profit=9349.01953125, total_revenue=28327.650390625, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=597)
Row(order_id='467399013', country='Monaco', item_type='Beverages', order_date='5/29/2016', order_priority='M', region='Europe', sales_channel='Offline', ship_date='6/14/2016', total_cost=82940.109375, total_profit=40856.94140625, total_revenue=123797.046875, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=2609)
Row(order_id='529276502', country='Burundi', item_type='Beverages', order_date='3/9/2011', order_priority='H', region='Sub-Saharan Africa', sales_channel='Online', ship_date='4/9/2011', total_cost=112314.0703125, total_profit=55326.78125, total_revenue=167640.84375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=3533)
Row(order_id='146634709', country='Liberia', item_type='Baby Food', order_date='6/6/2015', order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='6/12/2015', total_cost=211072.078125, total_profit=126918.640625, total_revenue=337990.71875, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=1324)
Row(order_id='824714744', country='Dominican Republic', item_type='Baby Food', order_date='8/25/2011', order_priority='H', region='Central America and the Caribbean', sales_channel='Offline', ship_date='9/24/2011', total_cost=43681.078125, total_profit=26265.640625, total_revenue=69946.71875, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=274)
Row(order_id='563681733', country='Togo', item_type='Cosmetics', order_date='9/8/2015', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='9/9/2015', total_cost=1265564.0, total_profit=835619.25, total_revenue=2101183.25, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=4806)
Row(order_id='678896129', country='Indonesia', item_type='Personal Care', order_date='10/22/2012', order_priority='L', region='Asia', sales_channel='Offline', ship_date='10/31/2012', total_cost=527371.0, total_profit=233208.359375, total_revenue=760579.375, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9306)
Row(order_id='434008300', country='Thailand', item_type='Fruits', order_date='9/30/2012', order_priority='C', region='Asia', sales_channel='Offline', ship_date='11/14/2012', total_cost=10760.599609375, total_profit=3747.550048828125, total_revenue=14508.150390625, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1555)
Row(order_id='156295812', country='East Timor', item_type='Cereal', order_date='12/7/2015', order_priority='M', region='Australia and Oceania', sales_channel='Offline', ship_date='12/30/2015', total_cost=30331.490234375, total_profit=22944.810546875, total_revenue=53276.30078125, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=259)
Row(order_id='887409770', country='Italy', item_type='Cereal', order_date='11/30/2015', order_priority='C', region='Europe', sales_channel='Online', ship_date='12/5/2015', total_cost=366085.875, total_profit=276932.34375, total_revenue=643018.1875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=3126)
Row(order_id='761723172', country='Algeria', item_type='Cosmetics', order_date='2/18/2011', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='2/24/2011', total_cost=2546137.75, total_profit=1681149.0, total_revenue=4227287.0, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=9669)
Row(order_id='925136649', country='Serbia', item_type='Clothes', order_date='7/6/2016', order_priority='L', region='Europe', sales_channel='Offline', ship_date='7/13/2016', total_cost=263352.3125, total_profit=539637.125, total_revenue=802989.4375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=7348)
Row(order_id='571997869', country='Vanuatu', item_type='Fruits', order_date='11/3/2013', order_priority='C', region='Australia and Oceania', sales_channel='Online', ship_date='11/11/2013', total_cost=39686.19921875, total_profit=13821.349609375, total_revenue=53507.55078125, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=5735)
Row(order_id='500371730', country='Pakistan', item_type='Meat', order_date='12/28/2013', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='2/15/2014', total_cost=3635594.5, total_profit=570226.8125, total_revenue=4205821.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9969)
Row(order_id='757619178', country='Turkmenistan', item_type='Meat', order_date='4/30/2017', order_priority='M', region='Asia', sales_channel='Online', ship_date='5/14/2017', total_cost=1898576.125, total_profit=297783.1875, total_revenue=2196359.25, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=5206)
Row(order_id='887124383', country='Greece', item_type='Cereal', order_date='8/22/2015', order_priority='H', region='Europe', sales_channel='Online', ship_date='10/8/2015', total_cost=1015812.125, total_profit=768429.6875, total_revenue=1784241.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=8674)
Row(order_id='294530856', country='Italy', item_type='Cereal', order_date='11/15/2011', order_priority='M', region='Europe', sales_channel='Online', ship_date='12/28/2011', total_cost=829138.8125, total_profit=627217.1875, total_revenue=1456356.0, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7080)
Row(order_id='757257401', country='Finland', item_type='Household', order_date='1/15/2016', order_priority='H', region='Europe', sales_channel='Offline', ship_date='1/31/2016', total_cost=4094696.0, total_profit=1350368.0, total_revenue=5445064.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=8148)
Row(order_id='756839835', country='Romania', item_type='Beverages', order_date='2/19/2012', order_priority='M', region='Europe', sales_channel='Online', ship_date='3/13/2012', total_cost=145629.984375, total_profit=71738.4609375, total_revenue=217368.453125, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4581)
Row(order_id='498071897', country='Taiwan', item_type='Cereal', order_date='4/11/2010', order_priority='H', region='Asia', sales_channel='Online', ship_date='5/26/2010', total_cost=1100482.625, total_profit=832480.25, total_revenue=1932962.875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=9397)
Row(order_id='459386289', country='Kuwait', item_type='Household', order_date='6/13/2011', order_priority='C', region='Middle East and North Africa', sales_channel='Offline', ship_date='7/21/2011', total_cost=736723.625, total_profit=242960.1875, total_revenue=979683.8125, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=1466)
Row(order_id='880811536', country='Djibouti', item_type='Clothes', order_date='5/17/2017', order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='7/2/2017', total_cost=20142.080078125, total_profit=41273.28125, total_revenue=61415.359375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=562)
Row(order_id='246248090', country='The Bahamas', item_type='Personal Care', order_date='1/19/2011', order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date='2/21/2011', total_cost=517793.78125, total_profit=228973.21875, total_revenue=746767.0, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9137)
Row(order_id='548299157', country='Sao Tome and Principe', item_type='Clothes', order_date='11/11/2015', order_priority='L', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='12/28/2015', total_cost=98918.3984375, total_profit=202694.40625, total_revenue=301612.8125, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=2760)
Row(order_id='485070693', country='Haiti', item_type='Office Supplies', order_date='12/31/2010', order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date='1/31/2011', total_cost=1077217.875, total_profit=259065.0, total_revenue=1336282.875, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=2052)
Row(order_id='520480573', country='Indonesia', item_type='Household', order_date='9/28/2011', order_priority='C', region='Asia', sales_channel='Online', ship_date='9/28/2011', total_cost=313082.40625, total_profit=103249.7890625, total_revenue=416332.21875, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=623)
Row(order_id='314505374', country='Vietnam', item_type='Personal Care', order_date='4/4/2010', order_priority='M', region='Asia', sales_channel='Online', ship_date='5/6/2010', total_cost=452453.28125, total_profit=200079.046875, total_revenue=652532.3125, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=7984)
Row(order_id='601245963', country='Ghana', item_type='Office Supplies', order_date='3/23/2017', order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date='4/15/2017', total_cost=470364.15625, total_profit=113120.0, total_revenue=583484.1875, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=896)
Row(order_id='494570004', country='Madagascar', item_type='Clothes', order_date='10/17/2016', order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date='10/26/2016', total_cost=111462.3984375, total_profit=228398.40625, total_revenue=339860.8125, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=3110)
Row(order_id='101328551', country='Solomon Islands', item_type='Household', order_date='12/17/2010', order_priority='M', region='Australia and Oceania', sales_channel='Online', ship_date='12/28/2010', total_cost=2123231.5, total_profit=700209.25, total_revenue=2823440.75, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=4225)
Row(order_id='830410039', country='Switzerland', item_type='Office Supplies', order_date='7/29/2014', order_priority='C', region='Europe', sales_channel='Offline', ship_date='8/27/2014', total_cost=2960249.5, total_profit=711923.75, total_revenue=3672173.25, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=5639)
Row(order_id='104191863', country='Albania', item_type='Personal Care', order_date='2/6/2016', order_priority='M', region='Europe', sales_channel='Offline', ship_date='2/11/2016', total_cost=87441.8125, total_profit=38667.578125, total_revenue=126109.390625, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=1543)
Row(order_id='642134416', country='Finland', item_type='Vegetables', order_date='10/9/2012', order_priority='C', region='Europe', sales_channel='Offline', ship_date='11/27/2012', total_cost=63469.140625, total_profit=44064.73828125, total_revenue=107533.8828125, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=698)
Row(order_id='699160754', country='Rwanda', item_type='Fruits', order_date='9/5/2012', order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date='9/15/2012', total_cost=41928.28125, total_profit=14602.1904296875, total_revenue=56530.46875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=6059)
Row(order_id='116205585', country='Turkmenistan', item_type='Vegetables', order_date='4/13/2015', order_priority='M', region='Asia', sales_channel='Online', ship_date='6/2/2015', total_cost=606503.125, total_profit=421077.09375, total_revenue=1027580.1875, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=6670)
Row(order_id='156530129', country='Tanzania', item_type='Fruits', order_date='10/20/2014', order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='11/29/2014', total_cost=66425.078125, total_profit=23133.58984375, total_revenue=89558.671875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=9599)
Row(order_id='791778934', country='Ghana', item_type='Clothes', order_date='11/2/2011', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='12/1/2011', total_cost=137482.234375, total_profit=281715.84375, total_revenue=419198.09375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=3836)
Row(order_id='902511680', country='Montenegro', item_type='Clothes', order_date='9/4/2016', order_priority='M', region='Europe', sales_channel='Offline', ship_date='9/8/2016', total_cost=75873.28125, total_profit=155472.484375, total_revenue=231345.765625, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=2117)
Row(order_id='180908620', country='Moldova ', item_type='Fruits', order_date='1/27/2013', order_priority='C', region='Europe', sales_channel='Online', ship_date='3/3/2013', total_cost=25853.119140625, total_profit=9003.759765625, total_revenue=34856.87890625, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=3736)
Row(order_id='371502530', country='Israel', item_type='Beverages', order_date='9/8/2013', order_priority='H', region='Middle East and North Africa', sales_channel='Offline', ship_date='10/13/2013', total_cost=149699.109375, total_profit=73742.9375, total_revenue=223442.046875, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4709)
Row(order_id='343752610', country='Nicaragua', item_type='Baby Food', order_date='11/11/2016', order_priority='L', region='Central America and the Caribbean', sales_channel='Online', ship_date='11/16/2016', total_cost=460883.21875, total_profit=277131.25, total_revenue=738014.5, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=2891)
Row(order_id='647164094', country='Papua New Guinea', item_type='Clothes', order_date='6/20/2011', order_priority='L', region='Australia and Oceania', sales_channel='Offline', ship_date='7/14/2011', total_cost=325857.28125, total_profit=667716.5, total_revenue=993573.75, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=9092)
Row(order_id='739008080', country='Tanzania', item_type='Cosmetics', order_date='5/23/2016', order_priority='L', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='5/24/2016', total_cost=2045547.5, total_profit=1350622.125, total_revenue=3396169.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=7768)
Row(order_id='252889239', country='Thailand', item_type='Meat', order_date='2/4/2015', order_priority='C', region='Asia', sales_channel='Online', ship_date='2/19/2015', total_cost=1605000.75, total_profit=251737.203125, total_revenue=1856737.875, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=4401)
Row(order_id='274930989', country='Dominica', item_type='Household', order_date='11/19/2011', order_priority='C', region='Central America and the Caribbean', sales_channel='Offline', ship_date='12/13/2011', total_cost=3539891.75, total_profit=1167402.125, total_revenue=4707294.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=7044)
Row(order_id='198927056', country='China', item_type='Office Supplies', order_date='2/10/2016', order_priority='M', region='Asia', sales_channel='Online', ship_date='3/29/2016', total_cost=3040043.25, total_profit=731113.75, total_revenue=3771157.0, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=5791)
Row(order_id='443368995', country='South Africa', item_type='Fruits', order_date='7/27/2012', order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='7/28/2012', total_cost=11023.5595703125, total_profit=3839.1298828125, total_revenue=14862.6904296875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1593)
Row(order_id='572335612', country='Vanuatu', item_type='Cereal', order_date='6/20/2014', order_priority='C', region='Australia and Oceania', sales_channel='Offline', ship_date='8/5/2014', total_cost=665301.9375, total_profit=503279.78125, total_revenue=1168581.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=5681)
Row(order_id='539471471', country='Uganda', item_type='Personal Care', order_date='6/19/2014', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='7/21/2014', total_cost=25558.169921875, total_profit=11302.0595703125, total_revenue=36860.23046875, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=451)
Row(order_id='153842341', country='Brunei', item_type='Cereal', order_date='5/28/2013', order_priority='L', region='Asia', sales_channel='Offline', ship_date='7/16/2013', total_cost=494438.40625, total_profit=374026.96875, total_revenue=868465.375, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=4222)

In [ ]:
rows = session.execute("SELECT * FROM silver_sales")
for row in rows:
    print(row)

Row(order_id='940980136', country='New Zealand', item_type='Beverages', order_date='10/11/2012', region='Australia and Oceania', sales_channel='Online', total_profit=90640.078125, units_sold=5788)
Row(order_id='363086831', country='Mali', item_type='Household', order_date='8/19/2010', region='Sub-Saharan Africa', sales_channel='Offline', total_profit=715456.4375, units_sold=4317)
Row(order_id='176461303', country='Singapore', item_type='Snacks', order_date='1/28/2013', region='Asia', sales_channel='Online', total_profit=423254.625, units_sold=7676)
Row(order_id='438011872', country='Dominica', item_type='Beverages', order_date='6/12/2012', region='Central America and the Caribbean', sales_channel='Online', total_profit=98673.65625, units_sold=6301)
Row(order_id='135178029', country='United Kingdom', item_type='Cosmetics', order_date='5/1/2015', region='Europe', sales_channel='Online', total_profit=180477.0625, units_sold=1038)
Row(order_id='488121116', country='The Bahamas', item_type='Fruits', order_date='6/18/2010', region='Central America and the Caribbean', sales_channel='Offline', total_profit=11423.400390625, units_sold=4740)
Row(order_id='845056617', country='Netherlands', item_type='Fruits', order_date='11/19/2016', region='Europe', sales_channel='Online', total_profit=23827.669921875, units_sold=9887)
Row(order_id='667593514', country='Morocco', item_type='Clothes', order_date='9/14/2013', region='Middle East and North Africa', sales_channel='Online', total_profit=338631.84375, units_sold=4611)
Row(order_id='425793445', country='Seychelles ', item_type='Beverages', order_date='1/18/2013', region='Sub-Saharan Africa', sales_channel='Online', total_profit=9349.01953125, units_sold=597)
Row(order_id='467399013', country='Monaco', item_type='Beverages', order_date='5/29/2016', region='Europe', sales_channel='Offline', total_profit=40856.94140625, units_sold=2609)
Row(order_id='529276502', country='Burundi', item_type='Beverages', order_date='3/9/2011', region='Sub-Saharan Africa', sales_channel='Online', total_profit=55326.78125, units_sold=3533)
Row(order_id='146634709', country='Liberia', item_type='Baby Food', order_date='6/6/2015', region='Sub-Saharan Africa', sales_channel='Offline', total_profit=126918.640625, units_sold=1324)
Row(order_id='824714744', country='Dominican Republic', item_type='Baby Food', order_date='8/25/2011', region='Central America and the Caribbean', sales_channel='Offline', total_profit=26265.640625, units_sold=274)
Row(order_id='563681733', country='Togo', item_type='Cosmetics', order_date='9/8/2015', region='Sub-Saharan Africa', sales_channel='Online', total_profit=835619.25, units_sold=4806)
Row(order_id='678896129', country='Indonesia', item_type='Personal Care', order_date='10/22/2012', region='Asia', sales_channel='Offline', total_profit=233208.359375, units_sold=9306)
Row(order_id='434008300', country='Thailand', item_type='Fruits', order_date='9/30/2012', region='Asia', sales_channel='Offline', total_profit=3747.550048828125, units_sold=1555)
Row(order_id='156295812', country='East Timor', item_type='Cereal', order_date='12/7/2015', region='Australia and Oceania', sales_channel='Offline', total_profit=22944.810546875, units_sold=259)
Row(order_id='887409770', country='Italy', item_type='Cereal', order_date='11/30/2015', region='Europe', sales_channel='Online', total_profit=276932.34375, units_sold=3126)
Row(order_id='761723172', country='Algeria', item_type='Cosmetics', order_date='2/18/2011', region='Middle East and North Africa', sales_channel='Online', total_profit=1681149.0, units_sold=9669)
Row(order_id='925136649', country='Serbia', item_type='Clothes', order_date='7/6/2016', region='Europe', sales_channel='Offline', total_profit=539637.125, units_sold=7348)
Row(order_id='571997869', country='Vanuatu', item_type='Fruits', order_date='11/3/2013', region='Australia and Oceania', sales_channel='Online', total_profit=13821.349609375, units_sold=5735)
Row(order_id='500371730', country='Pakistan', item_type='Meat', order_date='12/28/2013', region='Middle East and North Africa', sales_channel='Online', total_profit=570226.8125, units_sold=9969)
Row(order_id='757619178', country='Turkmenistan', item_type='Meat', order_date='4/30/2017', region='Asia', sales_channel='Online', total_profit=297783.1875, units_sold=5206)
Row(order_id='887124383', country='Greece', item_type='Cereal', order_date='8/22/2015', region='Europe', sales_channel='Online', total_profit=768429.6875, units_sold=8674)
Row(order_id='294530856', country='Italy', item_type='Cereal', order_date='11/15/2011', region='Europe', sales_channel='Online', total_profit=627217.1875, units_sold=7080)
Row(order_id='757257401', country='Finland', item_type='Household', order_date='1/15/2016', region='Europe', sales_channel='Offline', total_profit=1350368.0, units_sold=8148)
Row(order_id='756839835', country='Romania', item_type='Beverages', order_date='2/19/2012', region='Europe', sales_channel='Online', total_profit=71738.4609375, units_sold=4581)
Row(order_id='498071897', country='Taiwan', item_type='Cereal', order_date='4/11/2010', region='Asia', sales_channel='Online', total_profit=832480.25, units_sold=9397)
Row(order_id='459386289', country='Kuwait', item_type='Household', order_date='6/13/2011', region='Middle East and North Africa', sales_channel='Offline', total_profit=242960.1875, units_sold=1466)
Row(order_id='880811536', country='Djibouti', item_type='Clothes', order_date='5/17/2017', region='Sub-Saharan Africa', sales_channel='Offline', total_profit=41273.28125, units_sold=562)
Row(order_id='246248090', country='The Bahamas', item_type='Personal Care', order_date='1/19/2011', region='Central America and the Caribbean', sales_channel='Online', total_profit=228973.21875, units_sold=9137)
Row(order_id='548299157', country='Sao Tome and Principe', item_type='Clothes', order_date='11/11/2015', region='Sub-Saharan Africa', sales_channel='Offline', total_profit=202694.40625, units_sold=2760)
Row(order_id='485070693', country='Haiti', item_type='Office Supplies', order_date='12/31/2010', region='Central America and the Caribbean', sales_channel='Online', total_profit=259065.0, units_sold=2052)
Row(order_id='520480573', country='Indonesia', item_type='Household', order_date='9/28/2011', region='Asia', sales_channel='Online', total_profit=103249.7890625, units_sold=623)
Row(order_id='314505374', country='Vietnam', item_type='Personal Care', order_date='4/4/2010', region='Asia', sales_channel='Online', total_profit=200079.046875, units_sold=7984)
Row(order_id='601245963', country='Ghana', item_type='Office Supplies', order_date='3/23/2017', region='Sub-Saharan Africa', sales_channel='Online', total_profit=113120.0, units_sold=896)
Row(order_id='494570004', country='Madagascar', item_type='Clothes', order_date='10/17/2016', region='Sub-Saharan Africa', sales_channel='Online', total_profit=228398.40625, units_sold=3110)
Row(order_id='101328551', country='Solomon Islands', item_type='Household', order_date='12/17/2010', region='Australia and Oceania', sales_channel='Online', total_profit=700209.25, units_sold=4225)
Row(order_id='830410039', country='Switzerland', item_type='Office Supplies', order_date='7/29/2014', region='Europe', sales_channel='Offline', total_profit=711923.75, units_sold=5639)
Row(order_id='104191863', country='Albania', item_type='Personal Care', order_date='2/6/2016', region='Europe', sales_channel='Offline', total_profit=38667.578125, units_sold=1543)
Row(order_id='642134416', country='Finland', item_type='Vegetables', order_date='10/9/2012', region='Europe', sales_channel='Offline', total_profit=44064.73828125, units_sold=698)
Row(order_id='699160754', country='Rwanda', item_type='Fruits', order_date='9/5/2012', region='Sub-Saharan Africa', sales_channel='Online', total_profit=14602.1904296875, units_sold=6059)
Row(order_id='116205585', country='Turkmenistan', item_type='Vegetables', order_date='4/13/2015', region='Asia', sales_channel='Online', total_profit=421077.09375, units_sold=6670)
Row(order_id='156530129', country='Tanzania', item_type='Fruits', order_date='10/20/2014', region='Sub-Saharan Africa', sales_channel='Offline', total_profit=23133.58984375, units_sold=9599)
Row(order_id='791778934', country='Ghana', item_type='Clothes', order_date='11/2/2011', region='Sub-Saharan Africa', sales_channel='Online', total_profit=281715.84375, units_sold=3836)
Row(order_id='902511680', country='Montenegro', item_type='Clothes', order_date='9/4/2016', region='Europe', sales_channel='Offline', total_profit=155472.484375, units_sold=2117)
Row(order_id='180908620', country='Moldova ', item_type='Fruits', order_date='1/27/2013', region='Europe', sales_channel='Online', total_profit=9003.759765625, units_sold=3736)
Row(order_id='371502530', country='Israel', item_type='Beverages', order_date='9/8/2013', region='Middle East and North Africa', sales_channel='Offline', total_profit=73742.9375, units_sold=4709)
Row(order_id='343752610', country='Nicaragua', item_type='Baby Food', order_date='11/11/2016', region='Central America and the Caribbean', sales_channel='Online', total_profit=277131.25, units_sold=2891)
Row(order_id='647164094', country='Papua New Guinea', item_type='Clothes', order_date='6/20/2011', region='Australia and Oceania', sales_channel='Offline', total_profit=667716.5, units_sold=9092)
Row(order_id='739008080', country='Tanzania', item_type='Cosmetics', order_date='5/23/2016', region='Sub-Saharan Africa', sales_channel='Offline', total_profit=1350622.125, units_sold=7768)
Row(order_id='252889239', country='Thailand', item_type='Meat', order_date='2/4/2015', region='Asia', sales_channel='Online', total_profit=251737.203125, units_sold=4401)
Row(order_id='274930989', country='Dominica', item_type='Household', order_date='11/19/2011', region='Central America and the Caribbean', sales_channel='Offline', total_profit=1167402.125, units_sold=7044)
Row(order_id='198927056', country='China', item_type='Office Supplies', order_date='2/10/2016', region='Asia', sales_channel='Online', total_profit=731113.75, units_sold=5791)
Row(order_id='443368995', country='South Africa', item_type='Fruits', order_date='7/27/2012', region='Sub-Saharan Africa', sales_channel='Offline', total_profit=3839.1298828125, units_sold=1593)
Row(order_id='572335612', country='Vanuatu', item_type='Cereal', order_date='6/20/2014', region='Australia and Oceania', sales_channel='Offline', total_profit=503279.78125, units_sold=5681)
Row(order_id='539471471', country='Uganda', item_type='Personal Care', order_date='6/19/2014', region='Sub-Saharan Africa', sales_channel='Online', total_profit=11302.0595703125, units_sold=451)
Row(order_id='153842341', country='Brunei', item_type='Cereal', order_date='5/28/2013', region='Asia', sales_channel='Offline', total_profit=374026.96875, units_sold=4222)
Row(order_id='678230941', country='Iceland', item_type='Baby Food', order_date='10/2/2010', region='Europe', sales_channel='Offline', total_profit=236007.3125, units_sold=2462)
Row(order_id='752525556', country='Albania', item_type='Baby Food', order_date='7/19/2012', region='Europe', sales_channel='Offline', total_profit=756335.375, units_sold=7890)
Row(order_id='440306556', country='India', item_type='Snacks', order_date='10/10/2012', region='Asia', sales_channel='Online', total_profit=294943.875, units_sold=5349)
Row(order_id='953361213', country='Zimbabwe', item_type='Office Supplies', order_date='3/28/2011', region='Sub-Saharan Africa', sales_channel='Offline', total_profit=1214903.75, units_sold=9623)
Row(order_id='659878194', country='Tanzania', item_type='Beverages', order_date='11/30/2016', region='Sub-Saharan Africa', sales_channel='Online', total_profit=23114.16015625, units_sold=1476)
Row(order_id='830192887', country='Sri Lanka', item_type='Fruits', order_date='11/7/2011', region='Asia', sales_channel='Online', total_profit=3323.389892578125, units_sold=1379)
Row(order_id='747796285', country='Japan', item_type='Household', order_date='7/16/2014', region='Asia', sales_channel='Offline', total_profit=1390971.875, units_sold=8393)
Row(order_id='190777862', country='United States of America', item_type='Personal Care', order_date='1/21/2016', region='North America', sales_channel='Online', total_profit=106855.84375, units_sold=4264)
Row(order_id='315402734', country='Belize', item_type='Personal Care', order_date='6/14/2015', region='Central America and the Caribbean', sales_channel='Online', total_profit=88536.9765625, units_sold=3533)
Row(order_id='324669444', country='France', item_type='Cosmetics', order_date='12/7/2015', region='Europe', sales_channel='Online', total_profit=1001143.4375, units_sold=5758)
Row(order_id='937431466', country='Samoa ', item_type='Household', order_date='12/5/2016', region='Australia and Oceania', sales_channel='Online', total_profit=937534.625, units_sold=5657)
Row(order_id='882908809', country='Egypt', item_type='Clothes', order_date='8/9/2016', region='Middle East and North Africa', sales_channel='Online', total_profit=87540.4765625, units_sold=1192)
Row(order_id='479969346', country='Tunisia ', item_type='Cosmetics', order_date='7/1/2012', region='Middle East and North Africa', sales_channel='Offline', total_profit=425981.5, units_sold=2450)
Row(order_id='425418365', country='United Arab Emirates', item_type='Office Supplies', order_date='6/23/2012', region='Middle East and North Africa', sales_channel='Online', total_profit=1212378.75, units_sold=9603)
Row(order_id='265081918', country='Sweden', item_type='Beverages', order_date='9/13/2012', region='Europe', sales_channel='Online', total_profit=38915.1015625, units_sold=2485)
Row(order_id='349235904', country='Mauritius ', item_type='Clothes', order_date='11/17/2012', region='Sub-Saharan Africa', sales_channel='Offline', total_profit=405388.8125, units_sold=5520)
Row(order_id='732588374', country='Taiwan', item_type='Fruits', order_date='2/9/2014', region='Asia', sales_channel='Offline', total_profit=19361.939453125, units_sold=8034)
Row(order_id='835696351', country='Estonia', item_type='Household', order_date='9/1/2011', region='Europe', sales_channel='Offline', total_profit=1653322.5, units_sold=9976)
Row(order_id='179137074', country='Nepal', item_type='Meat', order_date='2/21/2014', region='Asia', sales_channel='Online', total_profit=543171.1875, units_sold=9496)
Row(order_id='358570849', country='Oman', item_type='Cosmetics', order_date='11/29/2010', region='Middle East and North Africa', sales_channel='Online', total_profit=1380006.25, units_sold=7937)
Row(order_id='797385394', country='Italy', item_type='Office Supplies', order_date='3/29/2011', region='Europe', sales_channel='Online', total_profit=367766.25, units_sold=2913)
Row(order_id='862861335', country='The Gambia', item_type='Fruits', order_date='11/20/2011', region='Sub-Saharan Africa', sales_channel='Online', total_profit=20964.58984375, units_sold=8699)
Row(order_id='222504317', country='Belgium', item_type='Personal Care', order_date='11/1/2011', region='Europe', sales_channel='Online', total_profit=70844.6171875, units_sold=2827)
Row(order_id='450544869', country='Malawi', item_type='Meat', order_date='3/1/2016', region='Sub-Saharan Africa', sales_channel='Offline', total_profit=291376.8125, units_sold=5094)
Row(order_id='584356629', country='Democratic Republic of the Congo', item_type='Cosmetics', order_date='10/7/2012', region='Sub-Saharan Africa', sales_channel='Online', total_profit=515872.28125, units_sold=2967)
Row(order_id='842238795', country='Uganda', item_type='Cosmetics', order_date='2/28/2015', region='Sub-Saharan Africa', sales_channel='Online', total_profit=1048610.0, units_sold=6031)
Row(order_id='286891067', country='Antigua and Barbuda ', item_type='Office Supplies', order_date='10/2/2011', region='Central America and the Caribbean', sales_channel='Offline', total_profit=794996.25, units_sold=6297)
Row(order_id='633134210', country='Romania', item_type='Cereal', order_date='4/16/2015', region='Europe', sales_channel='Online', total_profit=649984.8125, units_sold=7337)
Row(order_id='839094388', country='Tonga', item_type='Baby Food', order_date='5/11/2016', region='Australia and Oceania', sales_channel='Online', total_profit=530201.6875, units_sold=5531)
Row(order_id='940995585', country='Papua New Guinea', item_type='Meat', order_date='5/15/2015', region='Australia and Oceania', sales_channel='Offline', total_profit=20592.0, units_sold=360)
Row(order_id='368977391', country='Canada', item_type='Cosmetics', order_date='5/9/2011', region='North America', sales_channel='Online', total_profit=1297765.625, units_sold=7464)
Row(order_id='807785928', country='Ethiopia', item_type='Cosmetics', order_date='7/7/2011', region='Sub-Saharan Africa', sales_channel='Online', total_profit=115101.9375, units_sold=662)
Row(order_id='731120240', country='Saint Lucia', item_type='Fruits', order_date='12/12/2015', region='Central America and the Caribbean', sales_channel='Offline', total_profit=8630.2099609375, units_sold=3581)
Row(order_id='496523940', country='Ghana', item_type='Fruits', order_date='5/29/2016', region='Sub-Saharan Africa', sales_channel='Offline', total_profit=3188.429931640625, units_sold=1323)
Row(order_id='573998582', country='Nicaragua', item_type='Household', order_date='10/28/2015', region='Central America and the Caribbean', sales_channel='Online', total_profit=1291202.375, units_sold=7791)
Row(order_id='704205024', country='Lebanon', item_type='Meat', order_date='3/8/2017', region='Middle East and North Africa', sales_channel='Online', total_profit=501644.0, units_sold=8770)
Row(order_id='174590194', country='Slovakia', item_type='Beverages', order_date='10/26/2016', region='Europe', sales_channel='Offline', total_profit=62217.1796875, units_sold=3973)
Row(order_id='710296428', country='Kazakhstan', item_type='Snacks', order_date='9/8/2013', region='Asia', sales_channel='Online', total_profit=74549.28125, units_sold=1352)
Row(order_id='955894076', country='Malaysia', item_type='Beverages', order_date='11/13/2014', region='Asia', sales_channel='Online', total_profit=143351.640625, units_sold=9154)
Row(order_id='726137769', country='Czech Republic', item_type='Cosmetics', order_date='3/22/2014', region='Europe', sales_channel='Online', total_profit=1592127.625, units_sold=9157)
Row(order_id='297876536', country='South Korea', item_type='Meat', order_date='3/16/2016', region='Asia', sales_channel='Offline', total_profit=408465.1875, units_sold=7141)

gold table

Profit by Region:

In [ ]:
rows = session.execute("SELECT * FROM gold_profit_by_region")
for row in rows:
    print(row)

Row(region='Australia and Oceania', total_profit=3486940.0)
Row(region='Europe', total_profit=11267281.0)
Row(region='Middle East and North Africa', total_profit=6514261.5)
Row(region='Central America and the Caribbean', total_profit=4252300.0)
Row(region='Asia', total_profit=6749896.0)
Row(region='Sub-Saharan Africa', total_profit=7651892.0)
Row(region='North America', total_profit=1404621.5)

Units Sold by Item Type:

In [ ]:
rows = session.execute("SELECT * FROM gold_units_by_item")
for row in rows:
    print(row)

Row(item_type='Household', total_units_sold=57640)
Row(item_type='Office Supplies', total_units_sold=42814)
Row(item_type='Vegetables', total_units_sold=7368)
Row(item_type='Snacks', total_units_sold=14377)
Row(item_type='Personal Care', total_units_sold=39045)
Row(item_type='Meat', total_units_sold=50437)
Row(item_type='Fruits', total_units_sold=65920)
Row(item_type='Beverages', total_units_sold=45206)
Row(item_type='Cereal', total_units_sold=45776)
Row(item_type='Cosmetics', total_units_sold=65707)
Row(item_type='Baby Food', total_units_sold=20372)
Row(item_type='Clothes', total_units_sold=40148)

Profit by Region and Item Type:

In [ ]:
rows = session.execute("SELECT * FROM gold_profit_by_region_item")
for row in rows:
    print(row)

Row(region='Australia and Oceania', item_type='Baby Food', total_profit=530201.6875)
Row(region='Australia and Oceania', item_type='Beverages', total_profit=90640.078125)
Row(region='Australia and Oceania', item_type='Cereal', total_profit=526224.625)
Row(region='Australia and Oceania', item_type='Clothes', total_profit=667716.5)
Row(region='Australia and Oceania', item_type='Fruits', total_profit=13821.349609375)
Row(region='Australia and Oceania', item_type='Household', total_profit=1637743.875)
Row(region='Australia and Oceania', item_type='Meat', total_profit=20592.0)
Row(region='Europe', item_type='Baby Food', total_profit=992342.75)
Row(region='Europe', item_type='Beverages', total_profit=213727.6875)
Row(region='Europe', item_type='Cereal', total_profit=2322564.0)
Row(region='Europe', item_type='Clothes', total_profit=695109.625)
Row(region='Europe', item_type='Cosmetics', total_profit=2773748.0)
Row(region='Europe', item_type='Fruits', total_profit=32831.4296875)
Row(region='Europe', item_type='Household', total_profit=3003690.5)
Row(region='Europe', item_type='Office Supplies', total_profit=1079690.0)
Row(region='Europe', item_type='Personal Care', total_profit=109512.203125)
Row(region='Europe', item_type='Vegetables', total_profit=44064.73828125)
Row(region='Middle East and North Africa', item_type='Beverages', total_profit=73742.9375)
Row(region='Middle East and North Africa', item_type='Clothes', total_profit=426172.3125)
Row(region='Middle East and North Africa', item_type='Cosmetics', total_profit=3487136.75)
Row(region='Middle East and North Africa', item_type='Household', total_profit=242960.1875)
Row(region='Middle East and North Africa', item_type='Meat', total_profit=1071870.75)
Row(region='Middle East and North Africa', item_type='Office Supplies', total_profit=1212378.75)
Row(region='Central America and the Caribbean', item_type='Baby Food', total_profit=303396.90625)
Row(region='Central America and the Caribbean', item_type='Beverages', total_profit=98673.65625)
Row(region='Central America and the Caribbean', item_type='Fruits', total_profit=20053.609375)
Row(region='Central America and the Caribbean', item_type='Household', total_profit=2458604.5)
Row(region='Central America and the Caribbean', item_type='Office Supplies', total_profit=1054061.25)
Row(region='Central America and the Caribbean', item_type='Personal Care', total_profit=317510.1875)
Row(region='Asia', item_type='Beverages', total_profit=143351.640625)
Row(region='Asia', item_type='Cereal', total_profit=1206507.25)
Row(region='Asia', item_type='Fruits', total_profit=26432.880859375)
Row(region='Asia', item_type='Household', total_profit=1494221.625)
Row(region='Asia', item_type='Meat', total_profit=1501156.75)
Row(region='Asia', item_type='Office Supplies', total_profit=731113.75)
Row(region='Asia', item_type='Personal Care', total_profit=433287.40625)
Row(region='Asia', item_type='Snacks', total_profit=792747.75)
Row(region='Asia', item_type='Vegetables', total_profit=421077.09375)
Row(region='Sub-Saharan Africa', item_type='Baby Food', total_profit=126918.640625)
Row(region='Sub-Saharan Africa', item_type='Beverages', total_profit=87789.9609375)
Row(region='Sub-Saharan Africa', item_type='Clothes', total_profit=1159470.75)
Row(region='Sub-Saharan Africa', item_type='Cosmetics', total_profit=3865825.5)
Row(region='Sub-Saharan Africa', item_type='Fruits', total_profit=65727.9296875)
Row(region='Sub-Saharan Africa', item_type='Household', total_profit=715456.4375)
Row(region='Sub-Saharan Africa', item_type='Meat', total_profit=291376.8125)
Row(region='Sub-Saharan Africa', item_type='Office Supplies', total_profit=1328023.75)
Row(region='Sub-Saharan Africa', item_type='Personal Care', total_profit=11302.0595703125)
Row(region='North America', item_type='Cosmetics', total_profit=1297765.625)
Row(region='North America', item_type='Personal Care', total_profit=106855.84375)